<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>AI PROMPTS BLOG</span>
    <mat-icon aria-hidden="false" fontIcon="home" class="nav-icon" (click)="navigateToHomepage()"></mat-icon>
    @if(isAuthenticated) {
      <mat-icon aria-hidden="false" fontIcon="person" class="nav-icon" (click)="navigateToMyAiPrompts()"></mat-icon>
    }
    <span class="spacer"></span>
    @if (!isAuthenticated) {
      <button mat-flat-button class="button-spacing" (click)="navigateToLoginPage()">Login</button>
    }
    @if(isAuthenticated) {
      <button mat-flat-button class="button-spacing" (click)="logout()">Logout</button>
    }
    @if(!isAuthenticated) {
      <button mat-flat-button (click)="navigateToSignUp()">Sign Up</button>
    }
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
