<app-hinweis [hinweistext]="hinweistext | async"></app-hinweis>
<div class="container">
  <div class="row">
      <div class="col-12">
          <mat-form-field>
            <mat-label>Kategorie</mat-label>
            <mat-select [formControl]="form.controls.searchField">
              <mat-option *ngFor="let values of searchArray" [value]="values.value">{{values.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="bigger-width">
            <mat-label>Suche</mat-label>
            <input matInput type="text" [formControl]="form.controls.searchText">
          </mat-form-field>
      </div>
  </div>
  <div class="row">
  @for (prompt of prompts; track prompt.id) {
    <div class="col-4">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title-group>
            <div class="col-8">
              <mat-card-title>{{prompt.user.username}}</mat-card-title>
            </div>
            <div class="col-4">
              <mat-card-subtitle class="">{{prompt.timestamp | date}}</mat-card-subtitle>
            </div>
          </mat-card-title-group>
        </mat-card-header>
        <div class="col-12">
          <mat-card-content>
            {{prompt.description}}
          </mat-card-content>
        </div>
        <div class="col-12">
          <mat-card-content class="reduce-padding">
            @if(isAuthenticated) {
              <span class="margin-like-anzahl">{{prompt.likes.length}}</span>
              <mat-icon aria-hidden="false" fontIcon="thumb_up_off_alt" class="nav-icon" (click)="like(prompt.id)"></mat-icon>
              <span class="spacer"></span>
              @if(isMyProfile) {
                <mat-icon aria-hidden="false" fontIcon="delete_outline" class="nav-icon" (click)="deletePrompt(prompt.id)"></mat-icon>
              }
            }
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  }
  </div>
</div>



